<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Eth Magic Box</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/shop-item.css" rel="stylesheet">

  </head>

  <body>
    <div id="app">
      <div class="spinner" v-if="loading"></div>
      <mynav></mynav>

      <!-- Page Content -->
      <div class="container" v-bind:class="{shadow: loading}">

        <div class="row">
          <myside v-bind:active="activeSide"></myside>
          <!-- /.col-lg-3 -->

          <div class="col-lg-9">

            <div class="card mt-4">
              <img class="card-img-top img-fluid" src="img/cancel-tx.png" alt="">
              <div class="card-body">
                <h3 class="card-title">Cancel a pending transaction</h3>
                <h4></h4>
                <p class="card-text">If your transaction is pending for a long time or you accidentally sent a wrong transaction, you can cancel it before the transaction is packaged</p>

                <div class="alert alert-warning alert-dismissible fade show" role="alert" v-if="errmsg">
                  <strong>Error! </strong>{{errmsg}} 
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="alert alert-info alert-dismissible fade show" role="alert" v-if="no_pending_tx">
                  <strong>No pending transactions</strong> 
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <!-- <div class="input-group mb-3"> -->
                  <!--   <input type="text" class="form-control" placeholder="input tx hash" v-model="txhash"> -->
                  <!--   <div class="input-group-append" v-on:click="queryTx"> -->
                    <!--     <span class="input-group-text">Query tx</span> -->
                    <!--   </div> -->
                  <!-- </div> -->
                
                <ul class="list-group" v-if="tx.show">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Tx Hash
                    <span class="badge">{{tx.hash}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    State
                    <span class="badge badge-primary badge-pill">{{tx.state}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    From
                    <span class="badge">{{tx.from}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    To
                    <span class="badge">{{tx.to}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    GasLimit
                    <span class="badge">{{tx.gasLimit}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    GasPrice
                    <span class="badge">{{tx.gasPrice}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Value
                    <span class="badge">{{tx.value}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Nonce
                    <span class="badge">{{tx.nonce}}</span>
                  </li>
                </ul>
                <br/>

                <button class="btn btn-success" v-on:click="cancelIt">Cancel Tx</button>
              </div>
            </div>
            <!-- /.card -->

            <donate-card></donate-card>

          </div>
          <!-- /.col-lg-9 -->

        </div>

      </div>
      <!-- /.container -->

      <!-- Footer -->
      <footer class="py-5 bg-dark">
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy;  2018</p>
        </div>
        <!-- /.container -->
      </footer>
      <!-- Modal -->
      <div class="modal fade" id="install-metamask" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Install metamask</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <a href="https://metamask.io/">Our app is powered by Metamask, click to install.</a>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="modal fade" id="inputpk" tabindex="-1" role="dialog" aria-hidden="true"> -->
      <!--   <div class="modal-dialog" role="document"> -->
      <!--     <div class="modal-content"> -->
      <!--       <div class="modal-header"> -->
      <!--         <h5 class="modal-title" id="exampleModalLabel">Import Private Key</h5> -->
      <!--         <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
      <!--           <span aria-hidden="true">&times;</span> -->
      <!--         </button> -->
      <!--       </div> -->
      <!--       <div class="modal-body"> -->
      <!--         <form> -->
      <!--           <div class="form-group"> -->
      <!--             <img src="./img/export-pk.png"/> -->
      <!--             <img src="./img/show-pk.png"/> -->
      <!--           </div> -->
      <!--           <div class="form-group"> -->
      <!--             <label for="recipient-name" class="col-form-label">Cancel Tx must use your private key, please export from your metamask and paste below.</label> -->
      <!--             <input type="text" class="form-control" v-model="pk"> -->
      <!--           </div> -->
      <!--         </form> -->
      <!--       </div> -->
      <!--       <div class="modal-footer"> -->
      <!--         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
      <!--         <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="doCancelTx">Cancel Tx Now</button> -->
      <!--       </div> -->
      <!--     </div> -->
      <!--   </div> -->
      <!-- </div> -->

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="js/canceltx.bundle.js"></script>

  </body>

</html>
